/* Dashboard.css */
.dashboard-container {
  display: flex;
}

.sidebar {
  width: 80px; /* Initial closed width */
  transition: width 0.3s ease; /* Smooth transition for opening/closing */
  background-color: #f4ee4b;
  overflow: hidden;
  position: fixed;
  height: 100%;
}
.sidebar:hover {
  width: 250px; /* Expanded width on hover */
}
.sidebar.open {
  width: 250px; /* Adjust width for open sidebar */
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background 0.3s ease;
}

.sidebar-link:hover {
  background-color: #fefefe;
}

.menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Spacing between icon and text */
}

.menu-text {
  display: none; /* Hide text when sidebar is closed */
}

.sidebar.open .menu-text {
  display: inline; /* Show text when sidebar is open */
}

.main-content {
  margin-left: 80px; /* Match closed sidebar width */
  width: calc(100% - 80px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.sidebar.open ~ .main-content {
  margin-left: 250px; /* Match open sidebar width */
  width: calc(100% - 250px);
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ecf0f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-icons {
  display: flex;
  gap: 15px;
}

.nav-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.dashboard-content {
  padding: 20px;
}

.widget-container {
  margin-bottom: 20px;
}

.widget-container-three-columns {
  display: flex;
  gap: 20px;
}

.widget {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget-icon {
  margin-top: 10px;
}

.chart-notifications-container {
  display: flex;
  gap: 20px;
}

.chart-container,
.notifications-container {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notifications-two-column {
  display: flex;
  flex-direction: column;
}

.notifications-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notifications-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-icon {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}
